@charset "UTF-8";
$b-color: rgba(128, 128, 128, 0.354);
$maincolor: #a93c2b;
/*Null css START*/
/* Указываем box sizing */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/*Null css END*/



.div__container__partner{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.sub-div__partner__item_1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 3%;
    padding: 2%;
    margin-top: 2%;
}
.div__partner__item_1{
    background-color: $b-color;
    margin-top: 4%;
    border-radius: 10px;
}
.item__sub-div_1{
    grid-column: 1/2;
    grid-row: 1/4;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;

}

.item__sub-div_2{
    grid-column: 2/3;
    grid-row: 2/5;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
}

.item__sub-div_3{
    grid-column: 3/4;
    grid-row: 1/4;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.item__sub-div_4{
    grid-column: 4/5;
    grid-row: 2/5;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
}
.item__sub-div{
    background-color: rgba(255, 255, 255, 0.508);
    border-radius: 10px;
    padding: 4%;
    color: #fff;
}
.p__text__sub-div{
    font-size: 140%;

}
.p__sub-div__label{
    font-size: 180%;
}
.p__partner__label{
    text-align: center;
    color: #fff;
    font-size: 200%;
    margin-top: 2%;
}